html,
body {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --text-color: #000000;
  --text-color-secondary: #ffffff;
  --text-color-optional: gray;

  --primary-color: #21b6b7;

  --background-color: #f9f9f9;
  --background-color-dark: #eef3f6;
  --background-color-light: white;
  --border-radius: 8px;
  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  --box-shadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section {
  padding: 5rem 0 !important;
}
section.CompanyText {
  margin-top: 10rem !important;
  margin-bottom: 20rem !important;
}
@media (max-width: 767px) {
  section {
    margin-bottom: 8rem !important;
  }
}

/* Header styles start */
header {
  box-shadow: var(--box-shadow);
}

img.logoImg {
  width: 8rem;
  margin-right: 2rem;
}
img.logoImg2 {
  width: 3rem;
  margin-right: 0;
}
.navbar-nav a,
.selectLang.form-control {
  color: black !important;
  font-size: 1.1rem;
  height: 2.4rem;
  width: 7rem;
  margin: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.searchInput.form-control,
span#basic-addon2 {
  box-shadow: none;
  border: 1px solid #b794f6;
  background: white;
  border-radius: var(--border-radius);
}
input.searchInput.form-control {
  border-right: none;
  border-radius: var(--border-radius);
}
span#basic-addon2 {
  border-left: none;
  border-radius: 0 8px 8px 0;
}
.selectLang.form-control,
.selectLang.form-control input {
  border-radius: var(--border-radius);
  background-color: #fffcee;
}
.LoginBtn {
  background: #eaecff;
  border: 1px solid #0000d6;
  border-radius: 8px;
  transition: 0.3s ease;
}
a.text-decoration-none::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2px;
  background: red;
  margin-top: 3rem;
  visibility: hidden;
}
a.text-decoration-none:hover ::after {
  visibility: visible;
}

a.text-decoration-none.LoginBtn:hover {
  background: white;
}
form.mx-auto.form-inline {
  width: 55%;
}

.navbar-nav svg.MuiSvgIcon-root {
  font-size: 2.5rem;
  margin: 0 2rem;
  color: #3a61c3;
}
button.headerBtn {
  border: 0;
  background: transparent;
  margin: 0 1rem;
  outline: none;
}

@media (min-width: 767px) {
  .searchInputGroup {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .navbar-expand-lg .navbar-collapse {
    margin-top: 2rem;
  }
  a.text-decoration-none.LoginBtn.mr-0 {
    margin: 0 !important;
  }
}

/* Header styles end */
/* Common Banner styles start */
.alignItemsEnd {
  align-items: flex-end;
}
.alignItemsStart {
  align-items: flex-start;
}
h1.textLeft.bannerTitle,
p.textLeft.bannerText {
  text-align: left;
}
img.img-fluid.bannerImg {
  display: flex;
  margin: 0 auto;
  max-width: 85%;
}
h1.bannerTitle {
  font-size: 3rem;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 1.3rem;
  text-align: right;
}

p.bannerText {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  max-width: 19rem;
  text-align: right;
  margin-bottom: 1.3rem;
}
button.findDocBtn {
  border: none;
  outline: none;
  background: #3a61c3;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
  padding: 1rem 2rem;
  /* width: 10rem;
  height: 2.5rem; */
  border-radius: var(--border-radius);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.6s ease;
}

button.findDocBtn:hover {
  background: #eaecff;
  color: black;
}

@media (max-width: 767px) {
  h1.bannerTitle,
  p.bannerText,
  h1.textLeft.bannerTitle,
  p.textLeft.bannerText {
    text-align: center;
  }
  h1.bannerTitle {
    font-size: 2.5rem;
  }
  .alignItemsEnd,
  .alignItemsStart {
    align-items: center;
  }
  .col-md-6.imgDiv {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    left: 0;
  }
  img.img-fluid.bannerImg {
    max-width: 20rem;
  }
  section.workingProcess .container {
    background-color: transparent !important;
  }
}

section.workingProcess .container {
  padding: 4rem 1rem;
  border-radius: 8px;
  background-color: #fffcee;
}

/* Common Banner styles end */
/*Homepage add styles start */
section.homepage-add .container {
  background-color: #d6e9ff;
  padding: 3rem;
  border-radius: 8px;
}

.addPageTitle {
  color: #424f70;
  font-size: 2rem;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.store img.img-fluid:hover {
  filter: drop-shadow(2px 4px 6px black);
  transform: scale(1.05);
  transition: transform 0.6s ease-out;
}
.col-md-4.imgDiv img {
  max-width: 70%;
  display: flex;
  margin: 0 auto;
}

.store {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .col-md-4.imgDiv {
    position: absolute;
    opacity: 0.1;
    z-index: -1;
    left: 0;
  }
  section.homepage-add .container {
    background-color: transparent;
  }
  .addPageTitle {
    text-align: center;
  }

  .col-md-4.imgDiv img {
    max-width: 20rem;
  }
  .store img {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .store img {
    width: 60%;
  }
}

/*Homepage add styles end */

/*Footer styles start */
.socialIcon img {
  margin: 0 0.5rem;
}

.footerLink a {
  color: white !important;
  margin: 0 0.2rem;
  font-size: 1rem;
  line-height: 1rem;
}

img.footerLogo {
  width: 10rem;
}

/*Footer styles end */

/* Login styles Start */
.loginPageLeft::before {
  content: "";
  background-image: url("../../public/images/family.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
h1.loginPageTitle {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 2rem 0;
}
p.loginPageText {
  font-size: 1.5rem;
  font-weight: 500;
}
.LoginPageLeftSection {
  max-width: 35rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h1.loginPageTitle {
    font-size: 2.5rem;
  }
  p.loginPageText {
    font-size: 1rem;
  }
}

/* Login styles end */

/* Login Form styles start */
button.facebook,
button.google,
button.linkedin {
  border: none;
  outline: none !important;
  background: transparent;
}

button.facebook img,
button.google img,
button.linkedin img {
  width: 2.5rem;
}

a.forgetPass {
  margin: 1.2rem 0;
  color: black;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.2rem;
}
.basicFormInput input {
  border: 1px solid #b794f6;
  height: 3rem;
  border-radius: 16px;
  box-shadow: none !important;
}
label {
  font-weight: 600;
}

.loginFormFooter p {
  font-size: 1.4rem;
  text-decoration: underline;
}

@media (max-width: 768px) {
  h3.personName {
    font-size: 1rem;
  }
}

/* Login Form styles end */

/* Find as guest styles start */
.findAsGuest {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10rem auto;
}

.findAsGuest h3 {
  max-width: 40rem;
  text-align: right;
  font-size: 1.5rem;
}
img.google.img-fluid {
  width: 2rem;
}
/* Find as guest styles end */

/* Sign up as  styles start */
.doctorPerson {
  background-color: #f5f9ff;
  border-radius: 16px;
  padding: 1rem;
  width: 9rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

h3.personName {
  font-weight: 700;
  font-size: 1.2rem;
  color: #3a61c3;
  text-align: center;
  margin: 1rem 0;
}
.doctorPerson img {
  width: 4rem;
}

.signUpDetailsText p {
  font-size: 14px;
  color: #8e99bd;
}

.signUpDetailsText p a {
  color: gray;
  font-weight: 700;
  font-weight: 1rem;
}

/* Sign up as  styles end */

/* Sign up as Doctor  styles start */
button#Mobile-Bank-Dropdown {
  background: white;
  border: 1px solid #b794f6;
  border-radius: 0px 16px 16px 0px;
  height: 3rem;
  color: gray;
  box-shadow: none;
}
input#formBasicMobile {
  background: white;
  border: 1px solid #b794f6;
  border-radius: 16px 0px 0px 16px;
  height: 3rem;
  color: gray;
  box-shadow: none;
}
.signUpCard.mx-auto.card {
  border-radius: 16px;
  background-color: rgb(255, 245, 245);
}
/* Sign up as Doctor  styles end */

/* Sign up as skip  styles start */
.skipFormFooter button {
  border: 0;
  background: transparent;
  color: #ababab;
  text-decoration: underline;
  font-size: 18px;
  margin: 1rem 0;
}
.skipFormFooter p {
  color: #d02547;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

button#GenderDropdown,
button.GenderDropdown {
  height: 3rem;
  border: 1px solid #b794f6;
  border-radius: 16px;
  background: white !important;
  color: gray !important;
  text-align: start;
  box-shadow: none !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Gender .dropdown-menu {
  width: 100%;
}
/* Sign up as skip  styles end */

/*Modal styles start */
.modal-content {
  background-color: rgb(255, 245, 245) !important;
  border-radius: 16px !important;
}
.modal-dialog {
  max-width: 40rem !important;
}
.modalTop p,
.PatientModalTop p {
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalTop svg.MuiSvgIcon-root {
  font-size: 40px;
  margin-right: 0.4rem;
  color: #d02547;
}
.PatientModalTop svg.MuiSvgIcon-root {
  font-size: 40px;
  margin-right: 0.4rem;
  color: #0f9635;
}
.modalMsgIcon svg.MuiSvgIcon-root {
  font-size: 40px;
  color: #0f9635;
}
.modalMsgIcon {
  margin: 4rem 0;
}
.modalMsgIcon h4 {
  font-size: 24px;
  font-weight: 700;
}
.modalFooter {
  margin-top: 5rem;
}
.modalFooter p {
  font-size: 20px;
  color: #d02547;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
}
/*Modal styles end */

/* Carousel styles start */

button.slick-arrow.slick-next,
button.slick-arrow.slick-prev {
  background: rgba(0, 0, 0, 0.1);
  font-size: 5rem;
  width: 8rem;
  height: 99%;
  margin: auto;
  z-index: 10000;
}
.slick-prev:before,
.slick-next:before {
  font-size: 3rem !important;
}

/* Carousel styles end */

/* button animation start*/
.pulse {
  animation: pulse 0.5s ease-in;
}
@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}
p.number::before {
  content: "";
  position: absolute;
  border: 1px solid #505050;
  background: #ffa9a9;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-weight: 600;
  z-index: -1;
  top: 0;
  left: 0;
}
p.number {
  border: none;
  margin-right: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1000;
}

/* button animation  end*/

/* Profile section styles start */
section.profile {
  background-color: #fcfff8;
}
.docInfo {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  border: 1px solid #dddddd;
  overflow: hidden;
}
.docInfo img {
  width: 12rem;
}
button.editProfile {
  border: 1px solid #ababab;
  background: transparent;
  border-radius: 8px;
  margin: 0 1rem;
  padding: 0.3rem 0;
  padding-left: 0.5rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

button.editProfile svg.svg-inline--fa.fa-edit.fa-w-18 {
  font-size: 1rem;
  margin: 0 0.3rem;
}

button.editProfile img {
  width: 2rem;
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  button.editProfile {
    margin: 2rem;
    margin-left: 0;
  }
}

.docInfo h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.docPractice {
  font-size: 1rem;
  color: #474747;
}

span.expertise {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: #d6e9ff;
  border-radius: 8px;
  border: 1px solid #aaaaaa;
}
@media (min-width: 576px) {
  span.expertise:first-child {
    margin-left: 0;
  }
}
.docInfoRight h5 {
  font-size: 20px;
  font-weight: 700;
  color: #0f9635;
  text-align: right;
}
.docInfoRight h6 {
  font-size: 18px;
  font-weight: 700;
  color: #ababab;
  text-align: right;
}

.Credits {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  border: 1px solid #dddddd;
}

h4.creditTitle {
  color: #505050;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

p.visibility {
  color: #ababab;
  font-size: 20px;
}
h5.colorHeader {
  color: #ffa9a9;
  font-size: 20px;
}
.warningDiv {
  background: #fff5f5;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: 1px solid #dddddd;
}
.warningDiv h3 {
  color: #ff0000;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.warningDiv p {
  color: #ff0000;
  font-size: 14px;

  margin-bottom: 0;
}
.warningDiv svg.MuiSvgIcon-root {
  margin-right: 1rem;
}
.col-md-4.d-flex.justify-content-center {
  background: transparent;
  border: 1px solid #ababab;
  color: #3a61c3;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 1rem 0;
}
.col-md-4.d-flex.justify-content-center:hover {
  cursor: pointer;
}
.col-md-12.d-flex.px-0 > .col-md-4.d-flex.justify-content-center {
  border-left: 0 !important;
}
.col-md-12.d-flex.px-0 .col-md-4.d-flex.justify-content-center.l {
  border-right: 0 !important;
}
.col-md-4.d-flex.justify-content-center.active {
  background-color: #3a61c3;
  color: white;
  border: 1px solid #3a61c3;
}

.singleAppointments img {
  width: 8rem;
  margin-bottom: 1rem;
}
.singleAppointments {
  border: 1px solid #dddddd;
  padding: 2rem 0;
  transition: all 0.6s ease;
}

.singleAppointments:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.singleAppointments h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.singleAppointments h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  color: #0f9635;
}
.singleAppointments h6 {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.singleAppointments h6:last-child {
  margin-bottom: 0;
}

.singleAppointments h6 svg.MuiSvgIcon-root {
  color: #ffc107;
  margin-right: 0.5rem;
}

button.searchFriends {
  background-color: #3a61c3;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  width: 12rem;
  height: 3rem;
  border: 0;
  border-radius: 0px 8px 8px 0;
}

input.searchFriends.form-control {
  height: 3rem;
  box-shadow: none;
}
button.friendsApointmentBtn {
  background-color: #3a61c3;
  color: white;
  font-size: 14px;
  border: 0;
  padding: 0.4rem 0.8em;
  border-radius: 6px;
}
.friendsApoint h3 {
  font-size: 20px;
  font-weight: 700;
}
.friendsApoint h3 {
  font-size: 1rem;
}
.singleFiends {
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 4px;
  margin: 0.69rem;
  border: 1px solid #dddddd;
}

@media (min-width: 768px) {
  .singleFiends {
    max-width: 48% !important;
    width: 48% !important;
    flex: 0 0 48% !important;
  }
}

.singleFiends img {
  width: 8rem;
}
button.removeFriendsBtn {
  background-color: #dddddd;
  border: 0;
  outline: 0;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

/* Patient Edit Modal styles start*/
.PatientEditModal .MuiCard-root {
  margin: 0 !important;
}
.PatientEditModal .modal-dialog {
  max-width: 30rem !important;
}
button.cancelBtn {
  border: 0;
  outline: 0;
  color: #3a61c3;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.2rem;
}

button.removeBtn {
  width: 100%;
  border: 1px solid #b794f6;
  background: transparent;
  height: 3rem;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}
button.removeBtn svg.MuiSvgIcon-root {
  color: #ff0000;
}

button.addNewEmail {
  border: 0;
  outline: 0;
  color: #3a61c3;
  background-color: transparent;
  font-weight: 700;
  margin: 1rem 0;
}
button.changePass {
  border: 1px solid #b794f6;
  background: transparent;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}

p.text-success.notification,
p.text-danger.notification {
  /* display: none; */
}
p.bmdcP {
  border: 1px solid #b794f6;
  height: 3rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-weight: 700;
}
/* Patient Edit Modal styles end*/

/* Doctor Edit Modal styles start*/

button.removeBtn2 {
  width: 100%;
  border: 1px solid #b794f6;
  background: transparent;
  height: 4rem;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  margin: 1rem 0;
}
button.removeBtn2 svg.MuiSvgIcon-root {
  color: #ff0000;
}

button.removeBtn2 h6 {
  margin-bottom: 0.3rem;
  text-align: start;
  font-size: 1rem;
  font-weight: 600;
}

button.removeBtn2 p {
  margin: 0;
  font-size: 14px;
  text-align: start;
}
label.form-label {
  font-size: 1rem;
}

.yearDropDownMenu.dropdown-menu {
  max-height: 15rem;
  overflow-y: scroll;
}

button.logoutBtn {
  border: 1px solid red;
  padding: 0.5rem 2rem;
  background: white;
  font-size: 1rem;
  font-weight: 700;
  color: red;
  margin-top: 2rem;
}
/* Doctor Edit Modal styles end*/

/* Profile section styles end */

/* Find Doc styles start */

.findDocBanner {
  background-image: url("../images/findDoc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20rem;
}

@media (max-width: 768px) {
  .findDocBanner {
    background-position: right;
    background-size: cover;
  }
}

h1.findDocBannerText {
  font-weight: 700;
  font-size: 3rem;
}
h4.searchTitle {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #ababab;
}

button.ResetBtn {
  border: 1px solid #3a61c3;
  outline: none;
  background: white;
  font-weight: 600;
  font-size: 1.1rem;
  color: #3a61c3;
  padding: 1rem 2rem;
  /* width: 10rem;
  height: 2.5rem; */
  border-radius: var(--border-radius);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.6s ease;
}

.symtomSearch h6 {
  color: #3a61c3;
  font-size: 1.2rem;
}

.symtomSearch input,
input.searchInput.form-control {
  height: 3rem;
  border: 1px solid #b794f6;
  border-right: none;
}
.symtomSearch span#basic-addon2 {
  border: 1px solid #b794f6;
  border-left: none;
}
.symtomSearch svg.svg-inline--fa.fa-search.fa-w-16 {
  color: #3a61c3;
  cursor: pointer;
}

.docCardTop h5 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0f9635;
}
.docCardTop p {
  font-size: 14px;
  color: #ababab;
  margin-bottom: 0.5rem;
}

.docCardFooter h5 {
  font-size: 1rem;
  font-weight: 700;
}

.docCardFooter h6 {
  font-size: 1rem;
  font-weight: 700;
  color: #0f9635;
}

.newApointHead h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #37474f;
  text-align: center;
  margin-bottom: 1.5rem;
}
.newApointHead p {
  color: #37474f;
  text-align: center;
}
.selectedCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}
.selected {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 12rem;
}

.selected:hover {
  background-color: #efefef;
  cursor: pointer;
}
.selected.selectedFor {
  background-color: #efefef;
  box-shadow: 0px 0px 0px 5px #b8ccff;
}
.selected h3 {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.selected p {
  text-align: center;
  font-size: 14px;
}

.ApointmentDate {
  border: 1px solid #e7e7e7;
  box-shadow: var(--box-shadow2);
  border-radius: 8px;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
}

.ApointmentDate:hover {
  background-color: #efefef;
  cursor: pointer;
}

.ApointmentDate h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

button.friendsApointmentBtn.disabled {
  background-color: #7a9ffb;
}
img.img-fluid.friendsImg {
  width: 6rem;
}

.friendsCard {
  border: 1px solid #e7e7e7;
  box-shadow: var(--box-shadow2);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
}
.friendsCard h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

label.cvLabel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 50px;
  border-radius: 1rem;
  border: 1px solid #b794f6;
  font-weight: bold;
  cursor: pointer;
}
.file {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

button.uploadBtn {
  border: 1px solid #b794f6;
  height: 3rem;
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 700;
}

h1.dashboardTitle {
  font-weight: 700;
  font-size: 2rem;
}
.dashboardCard {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.dashboardCard h5 {
  color: #0f9635;
  font-weight: 700;
}
.serialCard {
  border: 1px solid #909090;
  border-radius: 8px;
}

.apointmentWeekCard {
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

h2.weekCardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #505050;
  text-align: center;
}

.serialNo h6 {
  color: #3a61c3;
  font-weight: 600;
  font-size: 1.1rem;
}
.serialNo h4 {
  font-weight: 700;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.serialDetails h6,
h6.apointmentDay {
  font-size: 1rem;
  font-weight: 700;
}

button.seeUploadBtn {
  color: #3a61c3;
  border: 1px solid #ababab;
  background-color: transparent;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-weight: 700;
}

p.apointmentType {
  color: #3a61c3;
}

button.callNowBtn {
  background-color: #0f9635;
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
}

.weekViewColumn {
  border-right: 1px solid #e7e7e7;
}

.weekView {
  padding: 2.5rem;
  border-bottom: 1px solid #e7e7e7;
}
.appointmentView h6 {
  font-size: 1.2rem;
  font-weight: 700;
}

.patientNo {
  color: #3a61c3;
}
.appointmentView {
  border-bottom: 1px solid #e7e7e7;
}
.appointmentView:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.serialDetails {
  display: none;
}

.h-100.card {
  cursor: pointer;
}
/* Find Doc styles end */
