header {
  box-shadow: var(--box-shadow);
}
img.logoImg {
  width: 8rem;
}
img.logoImg2 {
  width: 3rem;
}
.navbar-nav a,
.selectLang.form-control {
  color: black !important;
  font-size: 1.1rem;
  height: 2.4rem;
  width: 7rem;
  margin: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
input.searchInput.form-control,
span#basic-addon2 {
  box-shadow: none;
  border: 1px solid #0000d6;
  /* border: 1px solid #0000d6; */
  background: white;
  border-radius: var(--border-radius);
}
input.searchInput.form-control {
  border-right: none;
  border-radius: var(--border-radius);
}
span#basic-addon2 {
  border-left: none;
  border-radius: 0 8px 8px 0;
}
.selectLang.form-control,
.selectLang.form-control input {
  border-radius: var(--border-radius);
  background-color: #fffcee;
}
.LoginBtn {
  background: #eaecff;
  border: 1px solid #0000d6;
  border-radius: 8px;
  transition: 0.3s ease;
}
a.text-decoration-none::after {
  content: '';
  position: absolute;
  width: 5rem;
  height: 2px;
  background: red;
  margin-top: 3rem;
  visibility: hidden;
}
a.text-decoration-none:hover ::after {
  visibility: visible;
}

a.text-decoration-none.LoginBtn:hover {
  background: white;
}
form.mx-auto.form-inline {
  width: 55%;
}
@media (min-width: 767px) {
  .searchInputGroup {
    width: 20rem !important;
  }
}

@media (max-width: 767px) {
  .navbar-expand-lg .navbar-collapse {
    margin-top: 2rem;
  }
  a.text-decoration-none.LoginBtn.mr-0 {
    margin: 0 !important;
  }
}
